.footer-back {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8b398;
  font-family: sans-serif;
}

.footer {
  width: 1024px;
  font-size: 14px;
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-content {
  list-style: none;
  padding: 0;
}

.footer-items {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #b8b398;
  border-top: 1.5px solid #4c4e52;
  padding: 20px 0px;
}

.links > small {
  font-size: 14px;
}

.social-link-icons {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-icons:hover {
  color: black;
  cursor: pointer;
}
